<p>{{ msg }}</p>
<div *ngIf="itemList && selectedListId && listIdArray" class="flex-row">
    <app-item-group-selector
        class="col-1"
        [listIdArray]="listIdArray">
    </app-item-group-selector>
    <ng-container *ngFor="let listId of listIdArray">
    <app-data-table 
        *ngIf="selectedListId === listId"
        [itemList]="filteredItemList"
        [selectedListId]="selectedListId">
    </app-data-table>
    </ng-container>
    <app-data-table 
        *ngIf="selectedListId === -1"
        [itemList]="filteredItemList"
        [selectedListId]="selectedListId">
    </app-data-table>
</div>

